html,body{
	width:100%;	
	height:100%;
	overflow:hidden;
}
#main{
	position:relative;
	margin:auto auto;
	height:500px;
	width:500px;
}
#one{
	position:absolute;
	height:33.3%;
	width:33.3%;
	border-right: solid 3px black;
	
}
#two{
	position:absolute;
	height:33.3%;
	width:33.3%;
	left:33.3%;
	border-right: solid 3px black;
	
}
#three{
	position:absolute;
	height:33.3%;
	width:33.3%;
	left:66.6%;
	
}
#four{
	position:absolute;
	top:33.3%;
	height:33.3%;
	width:33.3%;
	border-right: solid 3px black;
	border-top: solid 3px black;
	border-bottom: solid 3px black;	
	
}
#five{
	position:absolute;
	top:33.3%;
	height:33.3%;
	width:33.3%;
	left:33.3%;
	border-right: solid 3px black;
	border-top: solid 3px black;
	border-bottom: solid 3px black;	
}
#six{
	position:absolute;
	top:33.3%;
	height:33.3%;
	width:33.3%;
	left:66.6%;
	border-top: solid 3px black;
	border-bottom: solid 3px black;	
	
}
#seven{
	position:absolute;
	top:66.6%;
	height:33.3%;
	width:33.3%;
	border-right: solid 3px black;
	
}
#eight{
	position:absolute;
	top:66.6%;
	height:33.3%;
	width:33.3%;
	left:33.3%;
	border-right: solid 3px black;
	
}
#nine{
	position:absolute;
	top:66.6%;
	height:33.3%;
	width:33.3%;
	left:66.6%;
	
}
#imgone{
	position:absolute;
	top:25%;
	left:25%;
	visibility:hidden;
}
#imgtwo{
	position:absolute;
	top:25%;
	left:25%;
	visibility:hidden;
}
#imgthree{
	position:absolute;
	top:25%;
	left:25%;
	visibility:hidden;
}
#imgfour{
	position:absolute;
	top:25%;
	left:25%;
	visibility:hidden;
}
#imgfive{
	position:absolute;
	top:25%;
	left:25%;
	visibility:hidden;
}
#imgsix{
	position:absolute;
	top:25%;
	left:25%;
	visibility:hidden;
}
#imgseven{
	position:absolute;
	top:25%;
	left:25%;
	visibility:hidden;
}
#imgeight{
	position:absolute;
	top:25%;
	left:25%;
	visibility:hidden;
}
#imgnine{
	position:absolute;
	top:25%;
	left:25%;
	visibility:hidden;
}
#gameover{
	height:50px;
	text-align:center;
}
#gametext{
	margin-top:15px;
	font-size:48px;
	color:red;
	margin-bottom:15px;
	font-family:Verdana, Geneva, sans-serif;
	visibility:visible;
}
#winner{
	margin-top:15px;
	font-size:48px;
	color:#00BFFF;
	font-family:Verdana, Geneva, sans-serif;
	visibility:visible;
}
#playagain{
	position:absolute;
	top:40%;
	left:24%;
	visibility:hidden;
}
